@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
    margin : 0;
    padding : 0;
    color: #ffffff;
}
html{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #ffffff;
    font-family: Lato;
    
}

header{
    position: relative;
    margin:0;
    width: 100%;
    background-image:url("backgroundcv.jpg");
    background-size: 100%;
    background-repeat: no-repeat;    
}

header a{
    text-decoration: none;
    margin: 15px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 900;
    color: #F57027;
}

footer{
    width: 100%;
    background-image: url("footerimg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top:50px;
    height: 10%;    
}

footer h1{
    color: #ffffff;
    font-weight: 600;
    margin-left: 2%;
}

footer li{
    color: #ffffff;
    margin-left: 5%;
    padding-top:1%;
    padding-bottom: 2%;
}

.nomprenom{
    margin-top: 4%;
    text-decoration: none;
    text-align: center;
    font-size: 60px;
    font-family: Roboto;
    font-weight: 900;
    color: #ffffff;
}

.image{
    border: 5px solid white;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2%;
    display:flex;
    height: 300px;
}
.dlcv{
    float:right;
    
}

.mainbox{
    display: flex;
    background-color: #1a1a1a;
    width: 100%;
    height: 800px;
}

.box2{
    margin:0%;
    padding-top: 2%;
    padding-left: 2%;
    width: 50%;
}
.box2 li{
    margin-left:5%;
}

.box2 p{
    margin-left: 5%;
}


.box1{
    position: relative;
    margin:0%;
    padding-top: 2%;
    padding-left: 2%;
    width: 50%;
}

.box1 li{
    margin-left:3%;
}

.titre{
    padding-top: 10%;
    font-size: 40px;
    font-weight: 600;
}

.text{
    margin-left: 15%;
    font-size: 15px;
    font-style: italic;
    color: lightgrey;
}