@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
    margin : 0;
    padding : 0;
    color: #ffffff;
}
html{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #ffffff;
    font-family: Lato;
    background-image: url("code.jpg");
}

header{
    margin:0;
}

header a{
    text-decoration: none;
    margin: 15px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 900;
}

footer{
    margin:0%;
    height: 25%;
    width: 100%;
    background-image: url("footerimg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
    position:absolute;
    width:100%;
    padding-top:50px;
}

footer h1{
    color: #ffffff;
    font-weight: 600;
    margin-left: 2%;
}

footer li{
    color: #ffffff;
    margin-left: 5%;
    padding-top:1%;
    padding-bottom: 2%;
}
.boxprincipal{
    margin-top: 4%;
    padding-top: 2%;
    background-color: #1a1a1a;
    background-size: 200px;
}

.jeux{
    display: flex;
    margin-top:1%;
    margin-left: 5%;
    margin-bottom: 2%;
    padding-top: 0%;
    width:90%;
    height:0%;  
}


.text-jeux{
    width: 35%;
}

.text-jeux p{
    padding-top: 3%;
    font-size: 120%;
    font-weight: 500;
    
}

.text-jeux li{
    margin-left:5%;
    padding-top: 3%;
    font-size: 120%;
    font-weight: 500;
    
}

.text-jeux img{
    width: 86px;
    height: 46px;
    border-radius: 10px;
}

.imgJeux{
    padding-left: 20%;
    width: 40%;
    height: 40%;
    
    
}

.imgJeux img{
    width: 70%;
    height:10%;
    border-radius: 20px;
}

.sport{
    display: flex;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 0%;
    padding-top: 0%;
    width:90%;
    height:0%;  
}

.codage{
    display: flex;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 0%;
    padding-top: 0%;
    width:90%;
    height:0%; 
}

.automobile{
    display: flex;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 0%;
    padding-top: 0%;
    width:90%;
    height:0%; 
}

.imgVago img{
    width: 30%;
    height: 60%;
    border-radius: 20px;
    margin-left: 37%;
    margin-bottom: 2%;
}

.interet{
    margin-left: 2%;
    margin-top: 2%;
    width: 50%;
    font-size: 35px;
    background-color:rgb(26, 26, 26,0.55);
    background-size: 10%;
    border-radius: 40px;
}

.interet h1{
    color: rgb(224, 141, 112);
}

footer{
    width: 100%;
    background-image: url("footerimg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top:50px;
    height: 13%;    
}

footer h1{
    color: #ffffff;
    font-weight: 600;
    margin-left: 2%;
}

footer li{
    color: #ffffff;
    margin-left: 5%;
    padding-top:1%;
    padding-bottom: 2%;
}