@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
    margin : 0;
    padding : 0;
    color: #ffffff;
}
html{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #ffffff;
    font-family: Lato;
    background-image:url("darkblue.jpg");
}

header{
    margin:0;
}

header a{
    text-decoration: none;
    margin: 15px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 900;
    color: #FA7D2F;
}

.projet{
    width:100%;
}

.projet h1{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
}

.sousboite{
    display: flex;
    margin-left: 1%;
    width: 40%;
}

.image{
    width: 20%;
    height: 10%;
    border-radius: 15px;
    
 }



 .jeux{
    display: flex;
    margin-top:1%;
    margin-left: 5%;
    margin-bottom: 2%;
    padding-top: 0%;
    width:90%;
    height:0%;  
}


.text-jeux{
    width: 55%;
}

.text-jeux p{
    padding-top: 3%;
    font-size: 120%;
    font-weight: 400;
    color: #ffffff;
    text-indent: 4%;
}

.text-jeux img{
    width: 86px;
    height: 46px;
    border-radius: 10px;
}

.img{
    padding-left: 25%;
    width: 80%;
    height: 50%;
    
    
}

.img img{
    width: 60%;
    height: 20%;
    border-radius: 20px;
}


footer{
    width: 100%;
    background-image: url("footerimg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top:50px;
    height: 10%;    
}

footer h1{
    color: #ffffff;
    font-weight: 600;
    margin-left: 2%;
}

footer li{
    color: #ffffff;
    margin-left: 5%;
    padding-top:1%;
    padding-bottom: 2%;
}