body {
    background-color: lightblue;
}

header{
    display: flex;
    justify-content: space-between;
}
.nomp {
    position: relative;
}

.nomp h1 {
    text-align: left;
}

.CVb{
    text-align: right;
    margin-left: 50%;
}

.contacth {
    text-align: right;

}
